@model IEnumerable<matrimonialProject.ViewModels.MessageViewModel>
@{ 
    ViewData["Title"] = "SentMessages";

}
<h1>Sent Messages</h1>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Content)

            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Name)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Content)

            </td>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            @*<td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>*@


        </tr>

        }
    </tbody>
    
</table>